@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    padding: 0 20%;
    background-color: rgb(0,0,0);
    font-family: Roboto;
    align-items: center;
    filter: brightness(0.9);
    color: rgb(254, 254, 254);
}

h1 {
    padding: 20px;
    font-family: Roboto;
    text-align: center;
    display: block;
    color: white;
    text-decoration-style: wavy;
}

footer {
    text-align: center;
    font-size: 10px;
    color: rgb(206, 185, 226);
    padding: 50px;
}

.gird {
    display: grid;
    align-items: baseline;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    text-align: center;
    justify-items: center;
}


.button {
    width: 200px;
    height: 50px;
	/* box-shadow:inset 0px 0px 15px 3px rgb(60, 22, 96); */
	background-color:rgba(0,0,0,0);
	border-radius:17px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color: rgb(230, 220, 241);
	font-size:20px;
    text-align: center;
	padding:100px;
	text-decoration:none;
    font-family: Roboto;
}
.button:hover {
	background-color: rgb(30, 8, 51);
}
.button:activate {
	position:relative;
	top:1px;
}