@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Roboto;
    color: rgb(254, 254, 254);
    overflow: hidden;
}


.mars {
    position: fixed;
    z-index: 0;
    left: 0vw;
    width: 100vw;
    height: auto;
    background: #000000;
    }
    

h1 {
    z-index: 1;
    padding: 20px;
    font-family: Roboto;
    text-align: center;
    display: block;
    color: white;
    text-decoration-style: wavy;
}


.gird {
    flex: none;
    z-index: 2;
    display: grid;
    align-items: baseline;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    text-align: center;
    justify-items: center;
}



footer {
    flex: none;
    z-index: 3;
    text-align: center;
    font-size: 10px;
    color: rgb(206, 185, 226);
    padding: 50px;
    z-index: 3;
}

.button {
    width: 30vw;
    height: 30vh;
	/* box-shadow:inset 0px 0px 15px 3px rgb(60, 22, 96); */
	background-color:rgba(0,0,0,0.1);
	border-radius:17px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color: rgb(230, 220, 241);
	font-size:20px;
    text-align: center;	
    display: flex;
    justify-content: center;
    align-items: center;
	text-decoration:none;
    font-family: Roboto;
}
.button:hover {
	background-color: rgba(0,0,0,0.3);
}